@import "tailwindcss";

@theme {
    --font-display: "Cormorant Garamond", Georgia, serif;
    --font-ui: "DM Sans", system-ui, sans-serif;

    --color-espresso: #1A1208;
    --color-charcoal: #1A1A1A;
    --color-graphite: #2E2E2E;
    --color-smoke: #6B6B6B;
    --color-ash: #A8A4A0;
    --color-linen: #F0EDE8;
    --color-sand: #F5E6D8;
    --color-cream: #FAF7F2;
    --color-warm-nude: #D4B896;
    --color-burnt-orange: #C4611A;
    --color-terracotta: #E8885A;
    --color-error: #C0392B;
    --color-success: #2E7D55;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-cream);
    color: var(--color-espresso);
    font-family: var(--font-ui);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}


::selection {
    background: var(--color-sand);
    color: var(--color-espresso);
}

input,
textarea,
select {
    width: 100%;
    padding: 12px 16px;
    font-family: var(--font-ui);
    font-size: 13px;
    background-color: var(--color-cream);
    border: 1px solid var(--color-linen);
    color: var(--color-espresso);
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-ash);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-espresso);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-cream) inset;
    transition: background-color 5000s ease-in-out 0s;
}